{% extends "base.html" %}

{% block content %}

<h2>Last Cataloged Collections</h2>
{% if collections %}
{% for collection in collections %}
    {{ collection.title }}
{% endfor %}
{% else %}
<p>
There are no collections 
</p>
{% endif %}
<p>
<a href="/records/collection/new">Add a new collection</a>
</p>


<h2>Last Cataloged Albums</h2>
{% if albums %}
{% for album in albums %}
    {{ album.title }}
{% endfor %}
{% else %}
<p>
There are no albums 
</p>
{% endif %}
<p>
<a href="/records/album/new">Add a new album</a>
</p>




{% endblock %}
