{% extends "base.html" %}

{% block head%}
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
{% endblock%}

{% block content %}

{% if ok %}
<br/>
<h3>{{model|title}} created</h3>
{% endif %}

<h2>{{model|title}}</h2>

<form method="post" action=".">
{% csrf_token %} 

<table>
{{form}}
</table>

<input type="submit" value="Save"> |
{% if model == 'collection' %}
<input type="submit" name="related" value="Add Albums to this Collection"> |
{% endif %}
<a href="/records/">Back</a>
</form>
{% endblock %}
